.gnb {
  overflow:hidden;
  background-color:#be3f2f;

  li {
    float:left;
    width:calc(100% / 7);
  }

  .tab_day {
    display:block;
    padding:6px 0;
    color:#fff;
    text-align:center;

    &.on {
      background-color:#8e2f23;
    }
  }
}